// Fonts roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
$bg1: #292E3C;
$bg2: #1F2128;
$circleBg: #FF3E66;
$blue: #2B70FA;

@mixin phone {
    @media (max-width: 768px) {
        @content;
    }
}

body {
    font-family: 'Roboto', sans-serif;
}

// Navbar

.navbar {
    background-color: $bg1;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    border-bottom: 1px solid #fff;
    padding: 15px 0;
    .nav-link {
        color: white !important;

        @include phone {
            text-align: center !important;
        }
    }

    .navbarBtn {
        color: white;

        @include phone {
            text-align: center;
        }

        .mybtn {
            color: white;
        }
    }
}

#banner {
    background-color: $bg1;
    @include phone {
        padding: 80px 0;
    }

    .bannerH {
        height: 100vh;
        @include phone {
            height: auto;
        }

        .bannerTitle {
            h1 {
                font-size: 60px;
                @include phone {
                    font-size: 52px;
                }
            }
        }

        .bannerImg {
            position: relative;
            img {
                position: relative;
                z-index: 2;
                @include phone {
                    width: 50%;
                }
            }
            &::before {
                content: "";
                width: 500px;
                height: 500px;
                background-color: #FF3E66;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                @include phone {
                    width: 400px;
                    height: 400px;
                }
            }

            .helperImg {
                position: absolute;
                right: 0;
                bottom: 50px;
            }
        }
    }
}